.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  font-size: 40px;
  color: #010101;
}

.actionpanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
